<<<<<<< HEAD
@import "home";


=======
>>>>>>> gre3
/** START SIDEBAR **/
.search{
 background-image: url(../images/logo-icons/searchblack.svg);
  background-repeat: no-repeat;
  background-position: center left;
  padding-right: 10px;
  background-origin: content-box;

    text-indent:20px;

}
.tag{
  color: white;
  border: none;

}
.tag:hover{
  background: white;
  color: $cowodesk;
  border:  white;
}
.pijltje{

  height: 50px;
  width: 50px;

}

.list{
  padding: 0;

  list-style-type: none;
}
.star{
  background: url('../images/blog/pijltje.svg') no-repeat left top;
  height: 34px;
  padding-top: 7px;
  padding-left: 60px;
  margin-bottom: 80px;


}
/** END SIDEBAR **/

/** START CARDS **/
.sbfont{
  font-family: $font-family-base,sans-serif;

}
.sbbtn{
  background-color: $cowodesk;
  border: none;
}
.sblijn{
  background-image: url(../images/blog/32.png);
  background-repeat: repeat-x;
  height: 11px;
}
.rounded-4{
  border-radius: 1rem;


}

/***Hover cards***/

.sbcard {
  border-radius: 25px;
  -webkit-transition:  box-shadow .6s ease-out;
  border: none;

}
.blogdriehoek{
  position: absolute;

}
/***END Hover cards***/
/** END CARDS **/

/** START DETAIL**/

.blogdetail {
  margin: 60px 0;

  .head2 {
	background: url("../images/dot.png") repeat-x center;
	margin: 90px 0 60px 0;
	justify-content: space-between;
  }

  .artikel {
	//columns: 2;
	//column-gap: 6%;

	.foto {
	  position: relative;

	  .img-foto {
		border: 1px solid $gray-600;
		border-radius: 60px;
	  }

	  .img-caret {
		position: absolute;
		bottom: -2px;
		left: 50px;
		width: 50%;
	  }
	}
  }

  .artikel-info {
	margin-top: 60px;
  }

  .auteur {
	.auteur-foto {
	  margin-right: 40px;

	  img {
		border-radius: 20px;
	  }

	}
  }

  .carousel-item {
	img {
	  border-radius: 30px;
	}
  }

  .carousel-img {
	position: relative;

	span {
	  position: absolute;
	  border-radius: 8px;
	  bottom: 30px;
	  right: 30px;
	}
  }

  .carousel-caption {
	position: initial;
	bottom: 1.25rem;
	padding-top: 1.25rem;
	padding-bottom: 1.25rem;
	color: inherit;

	h5 {
	  font-weight: 600;
	  line-height: 1.5;
	}
  }

  .carousel-control-prev {
	position: absolute;
	justify-content: start;
	top: -120px;
	left: -90px;
	opacity: 1;
	z-index: 10;

	.carousel-control-prev-icon {
	  display: inline-block;
	  height: 60px;
	  width: 60px;
	}
  }

  .carousel-control-next {
	position: absolute;
	justify-content: end;
	top: -120px;
	right: -90px;
	opacity: 1;
	z-index: 10;

	.carousel-control-next-icon {
	  display: inline-block;
	  height: 60px;
	  width: 60px;
	}
  }
}

.bg-cowodesk {
  background-color: #9e7cde;
}

.bg-flexdesk {
  background-color: #7ccbde;
}

.bg-meetdesk {
  background-color: #42c356;
}

.bg-polydesk {
  background-color: #dea04c;
}

/** END DETAIL**/