
//aanmaak van css variabelen niet toegelaten . deze worden in _eigen-variabelen gezet
//classes die ook op andere pagina kunnen gebruikt worden voorzien in _global.scss (o.a. classes voor header en footer)

//alle scss te voorzien in de home klasse . Ze wordt voorzien op de main tag van de pagina

.detailpagina{
  /***START MAIN***/
  /**START SLIDER**/
  .spinner-small{
    position: absolute;
    z-index: 10;
    bottom: 55%;
    left: 35%;
  }
  .spinner-large{
    position: relative;
    z-index: 12;
  }
  .vierkantlijn-slider {
    background-image: url('/assets/images/homepage/Rectangle32.png');
    background-repeat: repeat-x;
    height: 11px;
    width: 100%;
    position: absolute;
    bottom: 50%;
    z-index: -10;
  }
  .buttons-slider{
    position: absolute;
    right: 15%;
    bottom: 25%;
  }
  .w-35{
    width: 37%;
  }
  .img-slider {
    vertical-align: middle;
  }
  .container-slider {
    position: relative;
  }
  .mySlides {
    display: none;
  }
  .cursor {
    cursor: pointer;
  }
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  .caption-container {
    text-align: center;
    background-color: #222;
    padding: 2px 16px;
    color: white;
  }
  .column {
    float: left;
    width: 16.66%;
  }
  .demo {
    opacity: 0.6;
    &:hover {
      opacity: 1;
    }
  }
  .active {
    opacity: 1;
  }
  .text-purle-slider{
    color: #876fae;
  }
  .text-blueapple-slider{
    color: rgb(124,203,222);
  }
  @media (min-width: 576px) {

  }
  // Medium devices (tablets, 768px and up)
  @media (min-width: 768px) {


  }
  // Large devices (desktops, 992px and up)
  @media (min-width: 992px) {
    .spinner-small{
      position: absolute;
      z-index: 10;
      bottom: 55%;
      left: 35%;
    }
    .spinner-large{
      position: relative;
      z-index: 12;
    }
    .buttons-slider{
      position: absolute;
      right: 15%;
      bottom: 25%;
    }
    .w-35{
      width: 37%;
    }
  }
  // X-Large devices (large desktops, 1200px and up)
  @media (min-width: 1200px) {

  }
  // XX-Large devices (larger desktops, 1400px and up)
  @media (min-width: 1400px) {

  }
  // XXx-Large devices (larger desktops, 2000px and up)
  @media (min-width: 2000px) {

  }
  /**EINDE SLIDER**/
  /**START Beschrijving**/
  /**EINDE Beschrijving**/
  /**START MAPS**/
  .vierkantlijn-slider-maps{
    background-image: url('/assets/images/homepage/Rectangle32.png');
    background-repeat: repeat-x;
    height: 11px;
    width: 100%;
  }
  .border-radius-maps{
    border-radius: 3rem;
  }
  /**EINDE MAPS**/
  /**START HOST**/
  .vierkantlijn-slider-host{
    background-image: url('/assets/images/homepage/Rectangle32.png');
    background-repeat: repeat-x;
    height: 11px;
    width: 100%;
  }
  /**EINDE HOST**/
  /***EINDE MAIN***/
}

