
//aanmaak van css variabelen niet toegelaten . deze worden in _eigen-variabelen gezet
//classes die ook op andere pagina kunnen gebruikt worden voorzien in _global.scss (o.a. classes voor header en footer)

//alle scss te voorzien in de home klasse . Ze wordt voorzien op de main tag van de pagina

.detailpagina{
  /***START MAIN***/
  /**START SLIDER**/
  .spinner-small{
    position: absolute;
    z-index: 10;
    bottom: 62%;
    left: 34%;
  }
  .spinner-large{
    position: relative;
    z-index: 12;
  }
  .vierkantlijn-slider {
    background-image: url('/assets/images/homepage/Rectangle32.png');
    background-repeat: repeat-x;
    height: 11px;
    width: 100%;
    position: absolute;
    bottom: 50%;
    z-index: -10;
  }
  .buttons-slider{
    position: absolute;
    right: 25%;
    bottom: 25%;
  }
  /**EINDE SLIDER**/
  /**START Beschrijving**/
  /**EINDE Beschrijving**/
  /**START MAPS**/
  /**EINDE MAPS**/
  /**START HOST**/
  /**EINDE HOST**/
  /***EINDE MAIN***/
}

