$bootstrap-icons-font-src: url("../fonts/bootstrap-icons.woff2?30af91bf14e37666a085fb8a161ff36d") format("woff2"),
url("../fonts/bootstrap-icons.woff?30af91bf14e37666a085fb8a161ff36d") format("woff");

// installeren van de font lato
// 1) installeer fonts met npm install @fontsource/lato
// 2) kopieer fonts uit ../node_modules/@fontsource/lato/files naar ../assets/fonts/
// 3) pas onderstaande scss aan

@use "../node_modules/@fontsource/open-sans/scss/mixins" as opensans;

$font : 'opensans';
$fweights: 300,400,500,600,700;//vul hier de gewenste weight in
$fstyles: normal , italic ;
$fdir:'../fonts';

@each $fstyle in $fstyles {
  @each $fweight in $fweights {
    @include opensans.fontFace($weight:#{$fweight},$style:#{$fstyle},$fontDir:#{$fdir},$unicodeMap:latin)
  }
}


