//scss herbruikbaar voor op elke pagina
/*button-variant($background, $border, $hover-background: darken($background, 7.5%), $hover-border: darken($border, 10%), $active-background: darken($background, 10%), $active-border: darken($border, 12.5%))*/

.btn-trans {
  @include button-variant(rgba(255,255,255,0), white, white,rgba(255,255,255,0), white, white);
}


//mixins

//globale classes

.btn-outline-secondary:hover{
  color:$light!important;
}


//header start

//header end

//footer start

footer{
  .nav-link:hover{
    color: $primary!important;
    text-decoration: underline;
  }
}

//footer end
