
//aanmaak van css variabelen niet toegelaten . deze worden in _eigen-variabelen gezet
//classes die ook op andere pagina kunnen gebruikt worden voorzien in _global.scss (o.a. classes voor header en footer)

//alle scss te voorzien in de home klasse . Ze wordt voorzien op de main tag van de pagina

.home{
/***START MAIN***/
  /**START HERO**/


  /**EINDE HERO**/
  /**START REVIEW**/


  /**EINDE REVIEW**/
  /**START LOCATIES**/
  .contentcard{
   text-decoration: none;
  }
.vierkantlijn{

  background-image:url('../images/homepage/Rectangle32.png');
  background-repeat: repeat-x;
  height:11px;
}
.utg{

  padding-bottom: 142px;
}
  .mycard {
    border-radius: 25px;
    -webkit-transition:  box-shadow .6s ease-out;
    height: auto;
  }
  .card {
    border-radius: 25px;


  }
  .mycard:hover{
    box-shadow: 1px 10px 20px $cowodesk;
    -webkit-transition:  box-shadow .2s ease-in;
  }


.position-absolute{
  top: 60%;
  left:50%;
  font-size: 18px;
  text-transform: uppercase;
  border-radius: 10%;
}
.langetext{
  top: 60%;
  left: 55%;
  font-size: 25px;
  text-transform: uppercase;
  border-radius: 10%;
}

/** 2de styling **/
  .cards {
    transition:  0.2s ease-out;
    cursor: pointer;
    border-radius: 25px;
   ;
  }

  .cards:hover {
    box-shadow: 5px 6px 6px 2px #e9ecef;
    transform: scale(1.1)
  }
  /**EINDE LOCATIES**/
    /***EINDE MAIN***/
  }

