.verhuurderspagina {
  /*BEGIN LODE*/
  .carousel-indicators {
    [data-bs-target] {
      margin: 10px;
      height: 15px;
      width: 15px;
      background-color: transparent;
      border-radius: 3px;
      border: white 3px solid;
      transform: rotate(45deg);
    }
    .active {
      background-color: white;
      color: white;
    }
  }
  #carouselExampleCaptions{
     position:relative;
   }
  .captionTekst{
    position:absolute;
    z-index: 2000;
    Top: 50%;
    Left: 0;
    transform: translate(50%,-50%);
  }
  .triangleHeroLb{
    position:absolute;
    z-index:2001;
    width: 21%;
    right:3%;
    bottom:0;
  }
  .tekst-primary{
    color:$primary;
  }
  .vierkantlijn {
    background-image: url('/assets/images/homepage/Rectangle32.png');
    background-repeat: repeat-x;
    height: 11px;
    flex-grow: 1;
  }
  #formulierRegistreer{
    input{
      border: none;
      border-bottom: 1px solid $primary;
      width: 80%;
      color: $primary;
    }
    input::placeholder {
      color: $secondary;
      opacity: 1;
      font-weight: 500;
    }
    input:focus{
      outline: none;
    }
    .borderLb{
      border: 2px solid black;
      border-radius: 0.7rem;
    }
  }
  .border-80{
    border-radius: 0.8rem;
  }
  .sliderimg{
    height: 320px;
    object-fit: cover;
    object-position: bottom;
  }
  .card-border{
    border: 7px solid $secondary;
    border-radius: 1rem;
  }

  /*EINDE LODE*/

  /*BEGIN VIKTOR*/
  .vierkantlijn{
  background-image: url(../images/homepage/Rectangle32.png);
  background-repeat: repeat-x;
  height: 11px;};
  .leftArrow{
    height:100%;
  }
  .rightArrow{
    transform:rotate(180deg);
  }

  //QUERIES FOR ROTATION
  @media only screen and (max-width:  767px) {
    .leftArrow, .rightArrow {
      transform: rotate(90deg);
      padding-left:25px;
    }
    .arrowContainer{
    }
  }
  /*EINDE VIKTOR*/

  /*BEGIN MICHIEL*/
  /*EINDE MICHIEL*/
}