.zoekres{
/*HERO*/
    .center{
        top: 50%;
        bottom: 50%;
        left: 10%;

    }
    .hero-img{
    object-fit: cover;
    height: 500px;
        width: 100%;
    }
    .hero-triangle{
        width: 30%;
        bottom: 0;
        right: 0;
    }
    .square-line{

        background-image:url('../images/zoekres/square_line_purple.png');
        background-repeat: repeat-x;
        height:11px;
    }
    @media (min-width: 992px) {
        .hero-image{
            object-fit: cover;
            height: 100%;
        }

    }
/* END HERO*/
/*SIDEBAR*/

    //change default color of placeholder
    ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: $primary;
        opacity: 1; /* Firefox */
    }

    :-ms-input-placeholder { /* Internet Explorer 10-11 */
        color:  $primary;
    }

    ::-ms-input-placeholder { /* Microsoft Edge */
        color:  $primary;
    }

    /** styling checkboxes aanpassen **/
    .form-check-input{
        position: absolute;
        opacity: 0;
    }
    .form-check-input + label{
        position: relative;
        cursor:pointer;
        padding: 0;
    }
    .form-check-input + label:before {
        content: "";
        margin-right: 10px;
        margin-top:3px;
        display: inline-block;
        vertical-align: text-top;
        width: 14px;
        height: 14px;
        background: white;
        border: 1px solid $primary;
        border-radius: 25%;
        transform: rotate(45deg);
    }
    .form-check-input:checked + label:before{
        background: $primary;
    }


.lijnInput{
border-bottom: 2px solid $primary;
}


/* END SIDEBAR*/
/* CARDS*/

    article {
        //*nodig wnr foto niet resized is*//
        .location_image {
            background-size: 150%;
            background-position: center;
            padding-top: 100%;
            border-radius: 25px;
            -webkit-transition: box-shadow .6s ease-out;
            height: auto;
            z-index: 1;
        }

        .position {
            bottom: 25px;
            right: 25px;
            font-size: 20px;
            text-transform: uppercase;
            border-radius: 10%;
        }
        /***Hover cards***/
        .cards {
            transition: 0.2s ease-out;
            cursor: pointer;
            border-radius: 25px;

        }
        .cards:hover {
            box-shadow: 5px 6px 6px 2px #e9ecef;
            transform: scale(1.1)
        }
        .mycard:hover {
            box-shadow: 1px 10px 20px $cowodesk;
            -webkit-transition: box-shadow .2s ease-in;
        }
    }


    .aantal {
        color: $primary;
    }



/* END CARDS*/
}